<% provide(:title,"contactUs")%>

   <div class="delivery">
	<div>
		<p class="contactInfo1p1">Contact Us</p>
		<p><h2>Have any questions then please get in touch with us.</h2></p>
		<p><h2>We suggest that you get your Christmas orders in before or by Wednesday the 18th to avoid disappointment. 
		 Merry Christmas!!</h2></p>
		<p>  EMAILS WILL BE PICKED UP AS SOON AS POSSIBLE.</p>
	</div>
	<div class="contactInfo2">
		<p class="contactInfo2p1">No 1 Giftshop</p>
		<p>123 Fake Street, Dublin 1, Ireland</p>
		<p>Email: <a href="mailto:info@no1giftshop.ie">info@no1giftshop.ie</a></p>
		<p>Phone: 01 1234567</p>
	</div>
</div>