<% provide(:title,"Delivery")%>
<div class="delivery">
    <h1>Delivery</h1>
    <h3>Delivery free for the orders above €50</h3>
    <p>
    Free shipping applies to delivery to the Republic of Ireland only. 
    This offer does  not apply for international deliveries.Tracking Your Order</br>
    All items will be shipped express with tracking. Tracking codes will be emailed to you.</br>
    If you do not receive the email please check your junk or spam folders.</br>
    If you still can’t find the email you can request the tracking code via email to info@no1giftshop.ie.</br>
    Simply email us with the email you used on your order and we will send you the tracking code</p>
    
    <h1>About Us</h1> 
    This website is owned and operated by KK Limited.</br> We are a family business that is proud to be 100% Irish owned and operated based here in Ireland.</br>
    We specialise in delivering specialised gifts, its our thing. Our website portfolio also includes Weddinggift.ie  AnniversaryGifts.ie
</div>