<% provide(:title,"Delivery")%>
<h1>Delivery</h1>
<p>Delivery free for the orders above €50</p>
<p>
Free shipping applies to delivery to the Republic of Ireland only. This offer does  not apply for international deliveries.</p>
