<% provide(:title,"Home")%>


<div class="clearfix">
    <div class="giftbox">    
        <%= image_tag("giftshopmain2.jpg", alt: "Welcome Logo", :class => "welcomeIm") %>    
    </div>    
    <div class="indexDescription"> 
        <h1>Ireland's Favourite GiftShop</h1>
        <br>
        <br>
        <p><h1>Glad that you are here!</h1></p>
    </div> 
</br></br>
</div>

<div class="mainCont">        
     
    
    <h1>Popular Products</h1>
        
    <%= render'layouts/popular' %>
    
</div>
